@model IEnumerable<AzureLearnWebApp.Models.Author>
@{
    ViewData["Title"] = "Home Page - Git ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (Model != null)
{
    <div class="table">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.ACode</td>
                                <td> @course.AName.ToUpper()  @course.ALastName.ToUpper()</td>
                        <td>@course.AEmail</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}