@model IEnumerable<AzureLearnWebApp.Models.Course>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if(Model != null)
{
   <div class="table">
       <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Is Active</th>
                    <th>Deleted</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.CCode</td>
                        <td>@course.CName</td>
                        <td>@course.IsActive</td>
                        <td>@course.Deleted</td>
                    </tr>
                }
            </tbody>
       </table>
   </div>
}