<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurelearn-fvh5a0dcf8craadz.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>c77f07dc-e53d-4f19-9f40-e5999af5946c</ProjectGuid>
    <PublishUrl>https://azurelearn-fvh5a0dcf8craadz.scm.centralus-01.azurewebsites.net/</PublishUrl>
    <UserName>$AzureLearn</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>